.banner {
    background-color: red;
    width: 50%;
    padding: 0.01em
}

.font_style {
    font-family: "Lucida Sans Unicode", "Lucida Grande";
}

.color_blue {
    background: #00C407;
    color: white
}

.container {
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 15px
}

.input_short {
    width: 150px;
}

.center-div {
    padding-top: 20px;
    margin: 0 auto;
    width: 500px;
}

.input_long {
    width: 300px;
}

.div_cate {
    border: 1px solid #cccccc;
    width: max-content
}

.div_button {
    padding-top: 5px;
    width: 50%;
    margin: 0 auto;
}

.div_main {
    width: 100%;
    height: 400px;
}

.div_left_col {
    width: 50%;
    float: left;
}

.div_right_col {
    width: 50%;
    float: right;
}

.label_container {
    width: 20%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.input_mid {
    margin: 4px;
    padding: 4px;
    border: 1px solid #A7CFA9;
    border-radius: 4px;
    width: 250px;
}

.input_small {
    width: 70px;
}

.label_table {
    width: 150px;
}

.div_address {
    padding-top: 11px;
    padding-right: 15px;
    width: min-content
}

.div_submit {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.button {
    width: 120px;
    border: 2px solid #6CBD74;
    background-color: white;
    border-radius: 5px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}