.row-m-t {
    margin-top: 3px;
}

.input_white {
    background: white;
}

.input_white:hover {
    background-color: #89d3cb;
    color: white;
}

.padding_page {
    padding-left: 60px;
    padding-right: 60px;
}

.btn-mystyle {
    border: 1px solid #ECEEEF;
    width: 100%;
}

.green {
    background-color: #00897B;
    color: white;
}

.margin-right {
    align-content: flex-end;
}

.left {
    padding-left: 30px;
}

.tr_row:hover {
    background-color: #89d3cb;
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 4.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input:hover {
    background: #89d3cb;
}

.option-input:checked {
    background: #00897B;
}

.option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}